{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<!--
    <h1>Axion AI - LIVE DEMO</h1>
    <h2>Upload a mp4 file:</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <table class="table" width="100%">
        <thead>
            <tr>
                <td>[Video]</td>
                <td>[Transcript]</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:30%" valign="top">
			{{ wtf.quick_form(form) }} 
                    <p>
                    <video width="320" height="240" controls>
                      <source src="{{ url_for('static', filename=filename)}}" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
                </td>
                <td style="width:70%">
                    {% for utterance in utterances %}
                    <p>{{ utterance }}
                        <p>
                            {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
-->
      <main role="main">
         <!-- Main jumbotron for a primary marketing message or call to action -->
         <div class="jumbotron">
            <div class="container">
               <h1 class="display-4">Axion AI</h1>
               <p>Live demo</p>
            </div>
         </div>
         <div class="container">
            <!-- Example row of columns -->
            <div class="row">
               <div class="col-md-5">
                  <h2>Video</h2>
                    {{ wtf.quick_form(form) }} 
                  </p>
                    <video width="320" height="240" controls>
                      <source src="{{ url_for('static', filename=filename)}}" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
               </div>
               <div class="col-md-6">
                  <h2>Transcript</h2>
                  <p>
                  <div class="bd-example">
                     <div class="row">
                        <div class="col-12">
                           <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                              <h4 id="list-item-1">Item 1</h4>
                              <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
                              <h4 id="list-item-2">Item 2</h4>
                              <p>Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla tempor. Laborum consequat non elit enim exercitation cillum aliqua consequat id aliqua. Esse ex consectetur mollit voluptate est in duis laboris ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem aliqua quis ullamco deserunt sit enim elit aliqua esse irure. Laborum nisi sit est tempor laborum mollit labore officia laborum excepteur commodo non commodo dolor excepteur commodo. Ipsum fugiat ex est consectetur ipsum commodo tempor sunt in proident.</p>
                              <h4 id="list-item-3">Item 3</h4>
                              <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
                              <h4 id="list-item-4">Item 4</h4>
                              <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
                             {% for utterance in utterances %}
                             <p>{{ utterance }}
                                    <p>
                            {% endfor %}
                           </div>
                        </div>
                     </div>
                  </div>
                  </p>
               </div>
            </div>
            <hr>
         </div>
         <!-- /container -->
      </main>

{% endblock %}
